<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>2Do List</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-auto">
            {% if user_name %}
            <a href="{% url 'logout' %}">{{ user_name }}</a>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-md-center">
        {% if errors %}<p><strong>{{ errors }}</strong></p>{% endif %}
        <div class="col col-lg-auto">
            <form action="{% url 'create' %}" method="post" class="form-inline">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="task_text" placeholder="Task text" value="">
                    <button type="submit" class="btn btn-primary">Add task</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-auto">
            <ul class="list-group">
                {% for task in task_list %}
                <li class="list-group-item">
                    {{ task.task_text }}
                    {% if task.task_done %}
                    <a href="{% url 'done' task.id %}">Undone!</a>
                    {% else %}
                    <a href="{% url 'done' task.id %}">Done!</a>
                    {% endif %}
                    <a href="{% url 'delete' task.id %}">Delete task</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>